<div class="animate__animated animate__fadeIn">
  <div [ngClass]="{'tower-center-container': true, 'green-add-button': isAAddingComponent, 'tower-center-container-config': configMode}" (click)="goToTowerDashboard()">
    <div class="top-section">
      @if (isAAddingComponent) {
          <div
          class="tower-icon">
              <span class="material-symbols-outlined">add</span>
              <p [appTruncateText]="50">Add command center</p>
          </div>
      } @else if (configMode) {
        <div
        class="tower-icon"
        [formGroup]="managementCenterForm">
            <span class="material-symbols-outlined">{{centerData.icon}}</span>
            <div class="tower-icon-trigger"><span class="material-symbols-outlined" [matMenuTriggerFor]="menu">arrow_drop_down</span></div>
            <mat-menu  #menu="matMenu">
              @for (item of iconsCatalog; track $index) {
                <button (click)="setIcon(item)" class="tower-icon-menu" mat-menu-item>
                  <span class="material-symbols-outlined">{{item.icon}}</span>
                  <span>{{item.name}}</span>
                </button>
              }
            </mat-menu>
            <div class="field-container">
                <input
                  formControlName="centerName"
                  autocomplete="on"
                  placeholder="Edit name"
                  required>
            </div>
        </div>
      } @else {
          <div
          class="tower-icon">
              <span class="material-symbols-outlined">{{centerData.icon}}</span>
              <p class="tower-name" [matTooltip]="centerData.name" [matTooltipDisabled]="centerData.name.length < 50" [appTruncateText]="50">{{centerData.name}}</p>
          </div>
      }
    </div>
    <div *ngIf="configMode" class="bottom-section">
      <div (click)="cancel()">
        <span class="material-symbols-outlined">close</span>
        <span>Cancel</span>
      </div>
      <div [ngClass]="{'save-disable': managementCenterForm.invalid}" (click)="save()">
        <span class="material-symbols-outlined">check</span>
        <span>Save</span>
      </div>
    </div>
  </div>
</div>

