@import "../../../../../assets/styles/variables.scss";

.tower-center-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $white;
    box-shadow: $shadow-light;
    border-radius: 15px;
    height: 200px;
    width: 200px;

    &:hover .bottom-section {
        div:nth-of-type(1),
        div:nth-of-type(3) {
            opacity: 1;
        }
    }

    .top-section {
        height: 90%;
        padding-bottom: 10px;
        position: relative;

        .tower-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            span {
                font-size: 70px;
                color: $icon-light;
            }
        }
    }

    .bottom-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div:nth-of-type(1),
        div:nth-of-type(3) {
            transition: 0.3s;
            opacity: 0;
            color: $at-green;

            span {
                vertical-align: middle;
            }

            &:hover {
                cursor: pointer;
            }
        }

        div:nth-of-type(2) {
            text-align: center;
            padding: 0 5px;

            p {
                margin: 0;
            }

            .tower-title {
                font-size: 16px;
            }
        }

        div:nth-of-type(3) {
            text-align: end;
        }
    }
}
