@import "../../../../../assets/styles/variables.scss";

.tower-center-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $white;
    box-shadow: $shadow-light;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    transition: .3s;

    &:hover {
        box-shadow: $shadow-active-green;

        .bottom-section {
            div {
                opacity: 1;
            }
        }
    }

    .top-section {
        height: 100%;
        position: relative;

        .tower-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            span {
                font-size: 70px;
                color: $icon-light;
                margin-bottom: 10px;
            }
        }
    }

    .bottom-section {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.3s;
            opacity: 0;
            color: $at-green;

            span {
                vertical-align: middle;
            }

            span:nth-of-type(2) {
                font-size: 10px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        div:nth-of-type(2) {
        }

        div:nth-of-type(3) {
            text-align: end;
        }
    }
}

.green-add-button {
    background-color: $at-green;
    box-shadow: $at-green;
    cursor: pointer;

    &:hover {
        background-color: $at-green-active;
    }

    .top-section {
        color: white ;

       .tower-icon span {
            color: white;
        }
    }
}
