@import '../../../../assets/styles/variables.scss';

.subtitle {
    display: flex;
    gap: 20px;
    align-items: center;

    .circle-pointer {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $text-light;
    }

    h4 {
        margin: 0;
    }
}

.config-container {
    height: 100%;

    .config-title {
        display: flex;
        gap: 20px;
        padding-bottom: 30px;
        justify-content: center;
        align-items: center;
        font-family: $at-title-font;
        background: $main-text-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        

        span:nth-of-type(1) {
            font-size: 37px;
        }

        span:nth-of-type(2) {
            font-size: 29px;
            text-align: center;
        }
    }

    .config-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 92px - 60px - 30px);

        .config-grid {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .config-box {
        padding: 20px;
        background-color: $white;
        box-shadow: $shadow-light;
        border-radius: 15px;
    }

    .buttons-container {
        button {
            width: 145px;
        }
    }

}

.tower-config-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blur-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    background-color: rgba($color: #000000, $alpha: 0.5);
}

@media (min-width: 992px) {
    .config-container {
        width: 900px;
        margin: 0 auto;
    }

    .tower-config-form-container {
        flex-direction: row;
    }
}




