.header-container {
    margin: 64px 30px 30px 30px;
    display: flex;
    justify-content: center;
    .home-name {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 24px;

        .material-symbols-outlined {
            font-size: 32px;
        }
    }
}

@media (min-width: 768px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        margin: -10px 0 -10px 0;
        padding-bottom: 30px;
        
        .home-name {
            padding-left: 10px;
        }
    }
}