<nav class="animate__animated animate__fadeInDown">
  <div class="left-container">
    <img
      class="normal-logo mobile"
      src="../../../../assets/images/logo.svg"
      alt="Aura-Tower logo">
    <img
      class="mobile-logo mobile"
      src="../../../../assets/images/logo-mobile.svg"
      alt="Aura-Tower logo">
    <button
      class="at-button circle flat-green desktop"
      (click)="openAddDeviceDialog()">
      <span [ngClass]="{'material-symbols-outlined': true}">add</span>
    </button>
  </div>
  <div class="center-container">
    <div
      *ngIf="homeName"
      class="home-name mobile">
      <span class="material-symbols-outlined">home</span>
      <span
        [matTooltip]="homeName"
        [matTooltipDisabled]="homeName.length < 25">{{homeName}}</span>
    </div>
    <div class="desktop menu-container">
      <span (click)="changeLocationMenuVisible()" [ngClass]="{'material-symbols-outlined': true, 'button-active': locationMenuVisible}">moved_location</span>
      <mat-divider></mat-divider>
      <span class="material-symbols-outlined">fullscreen</span>
      <span class="material-symbols-outlined">home_pin</span>
      <span class="material-symbols-outlined">settings</span>
      <span class="material-symbols-outlined">power_settings_new</span>
    </div>

  </div>
  <div class="right-container">
    <div class="buttons-container">
      <button
        class="at-button circle outline-green mobile"
        (click)="changeLocationMenuVisible()">
        <span [ngClass]="{'material-symbols-outlined': true}">moved_location</span>
      </button>
      <button
        class="at-button circle outline-green mobile"
        (click)="changeMenuVisible()">
        <span [ngClass]="{'material-symbols-outlined': true, 'expand-more': true, 'collapse-up': menuVisible}">expand_more</span>
      </button>
    </div>
    <div class="desktop">
      <app-avatar [matMenuTriggerFor]="menu" [hover]="true" [size]="50" sourceName="Adam Kowalski" class="flex-row justify-center"></app-avatar>
    </div>
  </div>

</nav>

<app-menu [menuItems]="mockLocalizationData" [isAreaChangeMenu]="true" (menuItemSelected)="changeLocationMenuVisible()" [ngClass]="{'at-menu': true, 'at-menu-disable': !locationMenuVisible}"></app-menu>

<app-menu [menuItems]="menuElements" (menuItemSelected)="changeMenuVisible()" [ngClass]="{'at-menu': true, 'mobile': true, 'at-menu-disable': !menuVisible}"></app-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>manage_accounts</mat-icon>
    <span>Edytuj profil</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Wyloguj</span>
  </button>
</mat-menu>