@import '../../../../assets/styles/variables.scss';

.header-container {
    margin: 64px 30px 30px 30px;
    display: flex;
    justify-content: center;
    .home-name {
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        gap: 20px;
        font-size: 29px;
        font-family: $at-title-font;
        background: var(--main-text-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        .material-symbols-outlined {
            font-size: 37px;
        }
    }
}

.header-container-no-logo {
    margin: 0 !important;
    padding: 0 !important;
    justify-content: center !important;

    .home-name {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 0 30px 0 !important;
    }
}

@media (min-width: 992px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        margin: -10px 0 -10px 0;

        .home-name {
            padding-left: 10px;
        }
    }
}