@import '../styles/variables.scss';

.main-container, .auth-container{
    min-height: 100vh;
    background-color: $background-light;
}

.auth-container {
    background-color: $white
}

.dashboard-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.site-container, .auth-site-container {
    margin: 30px
}


@media (min-width: 768px) {
    .main-container, .auth-container{
        display: flex;
    }

    .dashboard-container {
        margin: 0;
    }

    .site-container {
        margin: 30px 30px 30px 130px;
        width: 100vw;
        transition: .3s;
    }

    .close-navbar {
        margin: 30px;
    }
}

