@import '../styles/variables.scss';

.main-container {
    min-height: 100vh;
    background-color: $background-light;
}

.auth-container, .base-container {
    height: 100vh;
    background-color: $white
}

.dashboard-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.site-container, .auth-site-container, .base-site-container {
    padding: 30px
}

.base-site-container {
    height: calc(100vh - 60px);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(91,203,169,0.16299019607843135) 100%);

}


@media (min-width: 992px) {
    .main-container, .auth-container{
        display: flex;
    }

    .dashboard-container {
        margin: 0;
    }

    .auth-container {
        background-color: $at-green;
    }

    .site-container {
        padding: 30px 30px 30px 130px;
        width: 100vw;
        transition: .3s;
    }

    .close-navbar {
        padding: 30px;
    }
}

