@import '../styles/variables.scss';

.main-container{
    min-height: 100vh;
    background-color: $background-light;
}

.dashboard-container {
    display: grid;
    gap: 20px;
    margin: 30px 30px 30px 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.settings-container {
    margin: 30px 30px 30px 30px;
}


@media (min-width: 768px) {
    .main-container{
        display: flex;
    }

    .dashboard-container, .settings-container {
        margin: 0;
    }

    .site-container {
        margin: 30px 30px 30px 130px;
        width: calc(100vw - 160px);
    }
}

