<div class="auth-section-header">
  <h3>Zaloguj się!</h3>
  <p>Zarządzaj swoim domem niczym kontroler w wieży lotniczej</p>
</div>

<div class="auth-form-container">
  <form [formGroup]="signInForm">
    <div class="field-container">
      <mat-form-field>
        <mat-label>Nazwa użytkownika</mat-label>
        <input
          matInput
          formControlName="userName"
          required>
          @if (userNameControl.errors?.['required']) {
            <mat-error><span class="material-symbols-outlined">error</span>Pole jest wymagane</mat-error>
          }
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input matInput  formControlName="password"  [type]="hidePassword ? 'password' : 'text'" (keydown.enter)="signIn()" required>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        @if (passwordControl.errors?.['required']) {
          <mat-error><span class="material-symbols-outlined">error</span>Pole jest wymagane</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
  <div class="spacer-4"></div>
  <button (click)="signIn()" [disabled]="signInForm.invalid || loadingButton" class="at-button normal flat-green iconic auth-button">
    <mat-spinner *ngIf="loadingButton" [strokeWidth]="3" [diameter]="20"></mat-spinner>
    <span class="material-symbols-outlined">login</span>
    <span>Zaloguj się!</span>
  </button>

  <div class="spacer-3"></div>
  <p class="auth-botton-text">Nie pamiętasz hasła ? <span (click)="onLinkClick('forgot-pass')">Przypomnij hasło</span></p>
  <p class="auth-botton-text">Nie masz jeszcze konta ? <span (click)="onLinkClick('sign-up')">Zarejestruj się</span></p>
</div>
