<ng-template #loading>
    <at-loading [blur]="true"></at-loading>
</ng-template>

<div *ngIf="data$ | async; else loading">
    <div *ngIf="metrics.length > 0; else noResults" class="dashboard-container flex-row flex-wrap gap-20">
        <at-device *ngFor="let metric of metrics" [metricData]="metric"></at-device>
    </div>
    
    <ng-template #noResults>
        <at-no-results
            imgSrc="../../../../assets/images/devices.svg"
            alt="no-results"
            mainTitle="Add IoT devices"
            description="Manage, edit, and customize to conveniently read data from and control smart devices"
            buttonIcon="add"
            buttonText="Add device"
            [buttonAction]="openAddDeviceDialogFnc">
        </at-no-results>
    </ng-template>
</div>


