<ng-template #loading>
    <at-loading [blur]="true"></at-loading>
</ng-template>

<div *ngIf="data$ | async as metrics else loading">
    <div *ngIf="metrics.length > 0; else noResults" class="dashboard-container flex-row flex-wrap gap-20">
        <at-device *ngFor="let metric of metrics" [metricData]="metric"></at-device>
    </div>
    
    <ng-template #noResults>
        <at-no-results
            imgSrc="../../../../assets/images/devices.svg"
            alt="no-results"
            mainTitle="Dodawaj urządzenia IoT"
            description="Zarządzaj, edytuj i dostosowuj do własnych preferencji, aby wygodnie odczytywać dane z inteligentnych urządzeń i nimi sterować"
            buttonIcon="add"
            buttonText="Dodaj urządzenie"
            [buttonAction]="openAddDeviceDialogFnc">
        </at-no-results>
    </ng-template>
</div>


