@import "../../../../../assets/styles/variables.scss";

.tower-center-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $white;
    box-shadow: $shadow-light;
    border-radius: 15px;
    height: 240px;
    width: 240px;
    transition: 0.3s;
    box-sizing: border-box;

    &:hover {
        box-shadow: $shadow-active-green;
        color: $at-green-active;
        cursor: pointer;

        .top-section .tower-icon .material-symbols-outlined {
            color: $at-green-active;
        }
    }

    .top-section {
        height: 100%;
        position: relative;

        .tower-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            .material-symbols-outlined {
                font-size: 70px;
                color: $icon-light;
                transition: .3s;
                margin-bottom: 10px;
            }

            .tower-name {
                max-width: 160px;
                text-align: center;
                word-wrap: break-word;
            }

            .field-container {
                width: 300px;
                padding: 0;
                
                input {
                    border: none;
                    border-bottom: 1px solid $disabled-gray;
                    background-color: transparent;
                    text-align: center;
                    padding-bottom: 5px;
                    font-family: $at-font;
                    color: $text-light;

                    &:focus {
                        outline: none;
                        border: none;
                        border-bottom: 1px solid $at-green;
                    }

                    &::placeholder {
                        color: $icon-light;
                    }
                }
            }
        }

        .tower-icon-menu {
            position: absolute;
            top: 0;
            right: 0;
            color: $icon-light;
            z-index: 2;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: $at-green-active;
            }

        }
    }

    .bottom-section {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .3s;
        border-radius: 0 0 15px 15px;
        padding: 20px 10px 8px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.3s;
            color: $at-green;

            span {
                vertical-align: middle;
            }

            span:nth-of-type(2) {
                font-size: 10px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        div:nth-of-type(3) {
            text-align: end;
        }

        .save-disable {
            color: $disabled-gray;
        }
    }
}

.green-add-button {
    background-color: $at-green;
    box-shadow: $at-green;
    cursor: pointer;

    &:hover {
        background-color: $at-green-active;

        .top-section .tower-icon .material-symbols-outlined {
            color: $white;
        }
    }

    .top-section {
        color: $white;

        .tower-icon .material-symbols-outlined {
            color: $white
        }
    }
}

.tower-center-container-config {
    box-shadow: none;
    border: 6px dashed $white;
    background-color: rgba($color: #ffffff, $alpha: 0.4);

    &:hover {
        cursor: auto;
        box-shadow: none;

        .top-section {
            .tower-icon .material-symbols-outlined {
                color: $icon-light;
            } 
        }
    }

    .top-section {
        .tower-icon {
            .tower-icon-menu {
                background-color: red !important;
            }
    
            .tower-icon-trigger {
                position:  absolute;
                top: 20%;
                right: 30%;
                cursor: pointer;
        
                .material-symbols-outlined {
                    font-size: 32px;
                    transition: .3s;
                    color: $icon-light;
        
                    &:hover {
                        color: $at-green-active
                    }
                }
            }
        }
    }
}
