<nav [ngClass]="{'nav-close': !navBarVisible}">
  <div class="left-container">
    <img
      class="normal-logo mobile"
      ngSrc="../../../../assets/images/logo.svg"
      alt="Aura-Tower logo"
      width="153"
      height="53">
    <img
      class="mobile-logo mobile"
      ngSrc="../../../../assets/images/logo-mobile.svg"
      alt="Aura-Tower logo"
      width="62"
      height="50">
    <button
      class="at-button circle flat-green desktop"
      (click)="openAddDeviceDialog()">
      <span [ngClass]="{'material-symbols-outlined': true}">add</span>
    </button>
  </div>
  <div class="center-container">
    <div class="desktop menu-container">
      <span
        (click)="changeLocationMenuVisible()"
        [ngClass]="{'material-symbols-outlined': true, 'button-active': locationMenuVisible}">moved_location</span>
      <mat-divider></mat-divider>
      <div
        *ngFor="let item of menuElements"
        [ngStyle]="{'display': item.display === displayTypeMobile ? 'none' : 'flex'}"
        class="flex-row justify-center">
        <span
          *ngIf="item.display !== displayTypeMobile"
          (click)="onMenuItemSelected(item.action)"
          [ngClass]="{'material-symbols-outlined': true, 'menu-item-active': pageData.icon === item.icon}">{{item.icon}}</span>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="buttons-container">
      <at-avatar
        [size]="43"
        [hover]="true"
        sourceName="Jarosław Matczak"
        class="mobile"></at-avatar>
      <button
        class="at-button circle outline-green mobile"
        (click)="changeLocationMenuVisible()">
        <span [ngClass]="{'material-symbols-outlined': true}">moved_location</span>
      </button>
      <button
        class="at-button circle outline-green mobile"
        (click)="changeMenuVisible()">
        <span [ngClass]="{'material-symbols-outlined': true, 'expand-more': true, 'collapse-up': menuVisible}">expand_more</span>
      </button>
    </div>
    <div class="desktop">
      <at-avatar
        [size]="40"
        [hover]="true"
        sourceName="Jarosław Matczak"
        class="flex-row justify-center"></at-avatar>
    </div>
  </div>
</nav>

<div
  *ngIf="!navBarVisible"
  class="navbar-open-button-container"
  (click)="changeNavBarVisible()">
  <span class="material-symbols-outlined">more_vert</span>
</div>

<at-menu
  [menuItems]="mockLocalizationData"
  [isAreaChangeMenu]="true"
  (menuItemSelected)="changeLocationMenuVisible(); onMenuItemSelected($event)"
  [ngClass]="{'at-menu': true, 'at-menu-disable': !locationMenuVisible}"></at-menu>

<at-menu
  [menuItems]="menuElements"
  (menuItemSelected)="changeMenuVisible(); onMenuItemSelected($event)"
  [ngClass]="{'at-menu': true, 'mobile': true, 'at-menu-disable': !menuVisible}"></at-menu>
