@import '../../../../assets/styles/variables.scss';

nav {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--box-color);
    height: 64px;
    width: 100%;
    padding: 5px 20px;
    box-shadow: var(--shadow);
    display: flex;
    transition: .5s;

    .mobile-logo {
        display: none;
    }

    div {
        width: 100%;
    }

    .left-container img {
        margin-top: 5px;
    }

    .center-container {
        display: flex;
        align-items: center;
        .home-name {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 0;
            font-size: 16px;

            span:nth-of-type(2) {
                max-width: 350px;
                margin-top: 2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        }
    }

    .right-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    @media (max-width: 932px) {
        .left-container,
        .right-container {
            width: 153px;
        }
    }

    @media (max-width: 565px) {
        .left-container,
        .right-container {
            width: 153px;
        }

        .center-container {
            .home-name {
                span:nth-of-type(2) {
                    max-width: 190px;
                }
            }
        }

        .normal-logo {
            display: none;
        }

        .mobile-logo {
            display: block;
        }
    }
}

.menu-item-active{
    color: $at-green;
    border-color: $at-green;
    box-shadow: var(--shadow-green);
}

.menu-buttons-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: $at-green-active;

        .material-symbols-outlined {
            color: $at-green-active;
            transition: .3s;
        }
    }
}

.item-name {
    text-align: center;
    font-size: 11px;
    line-height: 12px;
}

.at-menu {
    position: fixed;
    z-index: 2;
    top: 64px;
    right: 0;
    transition: 1s ease;
}

.at-menu-disable {
    top: -250px;
    opacity: 0;

    @media (max-width: 932px)  {
        top: -100%;
    }
}

.expand-more { 
    margin-top: 4px;
    font-size: 28px;
    transition: .5s;
}

.collapse-up{
    margin-top: 0;
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    nav {
        height: 100%;
        width: 100px;
        border-radius: 0 15px 15px 0;
        flex-direction: column;
        overflow-y: auto;

        .left-container {
            display: flex;
            justify-content: center;
            padding: 25px 0;

            .circle {
                width: 55px;
                height: 55px
            }
        };

        .center-container {
            .menu-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
                padding: 25px 0;
                color: var(--icon);
    
                .material-symbols-outlined{
                    font-size: 28px;
                    cursor: pointer;

                    &:hover {
                        color: $at-green-active;
                    }
                }

                mat-divider {
                    width: 100%;
                    height: 3px;
                    color: var(--icon);
                }
            }
        }

        .right-container {
            display: block;
            margin-top: auto;
            padding: 25px 0
        }

    }

    .menu-item-active{
        color: $at-green;
        border-color: unset;
        box-shadow: unset;
    }
    

    .nav-close {
        left: -100px
    }

    .navbar-open-button-container{
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 10px 5px;
        background-color: var(--box-color);
        box-shadow: var(--shadow);
        border-radius: 0 25% 25% 0; 
        color: var(--icon);
        transition: .3s;

        &:hover {
            color: $at-green-active
        }
    }



    .at-menu {
        position: fixed;
        z-index: 2;
        top: 64px;
        right: auto;
        left: 100px;
        transition: 1s

    }

    .at-menu-disable {
        left: -50%;
        opacity: 0;
    }

    .button-active {
        color: $at-green;
    }
}