<nav>
  <div class="left-container">
    <img
      class="normal-logo mobile"
      src="../../../../assets/images/logo.svg"
      alt="Aura-Tower logo">
    <img
      class="mobile-logo mobile"
      src="../../../../assets/images/logo-mobile.svg"
      alt="Aura-Tower logo">
    <button
      class="at-button circle flat-green desktop"
      (click)="openAddDeviceDialog()">
      <span [ngClass]="{'material-symbols-outlined': true}">add</span>
    </button>
  </div>
  <div class="center-container">
    <div class="desktop menu-container">
      <span (click)="changeLocationMenuVisible()" [ngClass]="{'material-symbols-outlined': true, 'button-active': locationMenuVisible}">moved_location</span>
      <mat-divider></mat-divider>
      <span *ngFor="let item of menuElements" (click)="onMenuItemSelected(item.action)" class="material-symbols-outlined">{{item.icon}}</span>
    </div>
  </div>
  <div class="right-container">
    <div class="buttons-container">
      <app-avatar [size]="43" [hover]="true" sourceName="Jarosław Matczak" class="mobile"></app-avatar>
      <button
        class="at-button circle outline-green mobile"
        (click)="changeLocationMenuVisible()">
        <span [ngClass]="{'material-symbols-outlined': true}">moved_location</span>
      </button>
      <button
        class="at-button circle outline-green mobile"
        (click)="changeMenuVisible()">
        <span [ngClass]="{'material-symbols-outlined': true, 'expand-more': true, 'collapse-up': menuVisible}">expand_more</span>
      </button>
    </div>
    <div class="desktop">
      <app-avatar [size]="40" [hover]="true" sourceName="Jarosław Matczak" class="flex-row justify-center"></app-avatar>
    </div>
  </div>

</nav>

<app-menu [menuItems]="mockLocalizationData" [isAreaChangeMenu]="true" (menuItemSelected)="changeLocationMenuVisible(); onMenuItemSelected($event)" [ngClass]="{'at-menu': true, 'at-menu-disable': !locationMenuVisible}"></app-menu>

<app-menu [menuItems]="menuElements" (menuItemSelected)="changeMenuVisible(); onMenuItemSelected($event)" [ngClass]="{'at-menu': true, 'mobile': true, 'at-menu-disable': !menuVisible}"></app-menu>