@if (loading) {
    <app-loading [blur]="true"></app-loading>
} @else {

    <div class="settings-container flex-row flex-wrap gap-20">
        <div class="settings-box">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Personal data
                    </mat-panel-title>
                    <mat-panel-description>
                      Type your name and age
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

<br>

                <mat-expansion-panel disabled>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Destination
                    </mat-panel-title>
                    <mat-panel-description>
                      Type the country name
                      <mat-icon>map</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
                
                <br>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Day of the trip
                    </mat-panel-title>
                    <mat-panel-description>
                      Inform the date you wish to travel
                      <mat-icon>date_range</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
}