@import '../variables.scss';

.dialog-container {
    padding: 30px;

    .mat-mdc-dialog-title {
        padding: 0 0 15px 0
    }

    h2 {
        color: $at-green !important;
        font-size: 32px !important;
        border-bottom: 3px solid $at-green;
        margin: 0;
    }



    mat-dialog-content {
        padding: 30px 0 !important;
        
        p {
            font-size: 16px;
        }
    }

    mat-dialog-actions {
        padding: 0
    }
}