@import "../variables.scss";

.main-container {
    min-height: 100vh;
    background-color: $background-light;
}

.auth-container, .base-container {
    height: 100vh;
    background-color: $white;
}

.dashboard-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.site-container,
.auth-site-container {
    padding: 30px;
}

@media (min-width: 992px) {
    .main-container,
    .auth-container {
        display: flex;
    }

    .dashboard-container {
        margin: 0;
    }

    .auth-container {
        background-color: $at-green;
    }

    .site-container {
        padding: 30px 30px 30px 130px;
        width: 100vw;
        transition: 0.3s;
    }

    .close-navbar {
        padding: 30px;
    }
}
