<div class="auth-section-header">
    <h3>Zapomniałeś hasła?</h3>
    <p>Spokojnie, wspólnie spróbujemy rozwiązać ten problem</p>
</div>

<div class="auth-form-container">
    <form [formGroup]="forgotPassForm">
      <div class="field-container">
        <mat-form-field>
          <mat-label>Nazwa użytkownika</mat-label>
          <input
            matInput
            formControlName="userName"
            required>
            @if (userNameControl.errors?.['required']) {
              <mat-error><span class="material-symbols-outlined">error</span>Pole jest wymagane</mat-error>
            } @else if (userNameControl.errors?.['minLength']) {
              <mat-error><span class="material-symbols-outlined">error</span>Hasło musi mieć minimum 8 znaków</mat-error>
            }
        </mat-form-field>
      </div>


      <div class="field-container">
        <mat-form-field>
          <mat-label>Pytanie pomocnicze</mat-label>
          <mat-select formControlName="auxiliaryQuestion" required>
            <mat-option value="1">First option</mat-option>
            <mat-option value="2">Second option</mat-option>
            <mat-option value="3">Second option</mat-option>
            <mat-option value="4">Second option</mat-option>
            <mat-option value="5">Second option</mat-option>
            <mat-option value="6">Second option</mat-option>
            <mat-option value="7">Second option</mat-option>
          </mat-select>
            @if (auxiliaryQuestion.errors?.['required']) {
              <mat-error><span class="material-symbols-outlined">error</span>Pole jest wymagane</mat-error>
            }
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field>
          <mat-label>Odpowiedź na pytanie pomocnicze</mat-label>
          <input
            matInput
            formControlName="auxiliaryAnswer"
            required>
            @if (auxiliaryAnswer.errors?.['required']) {
              <mat-error><span class="material-symbols-outlined">error</span>Pole jest wymagane</mat-error>
            }
        </mat-form-field>
      </div>
    </form>
    <div class="spacer-4"></div>
    <button (click)="remindPassword()" [disabled]="forgotPassForm.invalid || loadingButton" class="at-button normal flat-green iconic auth-button">
      <mat-spinner *ngIf="loadingButton" [strokeWidth]="3" [diameter]="20"></mat-spinner>
      <span class="material-symbols-outlined">lock_reset</span>
      <span>Resetuj hasło</span>
    </button>
    <div class="spacer-3"></div>
    <p class="auth-botton-text">Pamiętasz hasło? <span (click)="goToSignIn()">Zaloguj się</span></p>

  </div>