<div class="base-custom-box">
  <div *ngIf="data$ | async else loading" class="base-content">
    <div class="base-grid">
      <at-info *ngIf="commandCenters.length < 1 && !configMode || commandCenters.length === 1 && configMode" class="base-initial-info" [border]="false" textAlignment="center" infoText="This is where you will find all your command centers. Add the first center by clicking on the green tile, then give it a name, e.g. 'Home' and select the representing icon, click save and you're done"></at-info>

      @for (centerData of commandCenters; track $index) {
        <at-command-center [centerData]="centerData" [configMode]="configMode" (saveAction)="saveCommandCenterConfig($event)" (refreshAction)="refresh()" (configModeAction)="setConfigMode()"></at-command-center>
      }
      <at-command-center (saveAction)="saveCommandCenterConfig($event)" (configModeAction)="setConfigMode()" [configModeType]="configModeTypes.add" [configMode]="configMode"></at-command-center>
    </div>

    <div class="spacer-4"></div>

    <div class="buttons-container buttons-small-space justify-center animate__animated animate__fadeIn">
      <button
      class="at-button circle iconic outline-green"
      matTooltip="Logout"
      mat-button
      (click)="logout()">
      <span class="material-symbols-outlined">power_settings_new</span>
    </button>
    <button
      class="at-button normal iconic flat-green"
      mat-button
      (click)="goToSettings()">
      <span class="material-symbols-outlined">settings</span>
      <span>{{'Settings'}}</span>
    </button>
    </div>
  </div>

  <ng-template #loading>
    <at-loading [blur]="true"></at-loading>
  </ng-template>
</div>
