<div class="headquarters-container">
  <div class="headquarters-title">
    <span class="material-symbols-outlined">home_pin</span>
    <span>Select your Aura Tower command center</span>
  </div>

  <div class="headquarters-content">
    <div class="headquarters-grid">
      @for (centerData of managementCenters; track $index) {
        <at-tower-center [centerData]="centerData" (cancelAction)="cancelConfigMode($event)" (saveAction)="saveConfigMode($event)"></at-tower-center>
      }
      @if (!configMode) {
        <at-tower-center (click)="addNewManagementCenter()" [isAAddingComponent]="true"></at-tower-center>
      }
    </div>

    <div class="spacer-4"></div>

    <div class="buttons-container buttons-small-space justify-center">
      <button
      class="at-button circle iconic outline-green"
      matTooltip="Logout"
      mat-button
      (click)="logout()">
      <span class="material-symbols-outlined">power_settings_new</span>
    </button>
    <button
      class="at-button normal iconic flat-green"
      mat-button
      (click)="goToSettings()">
      <span class="material-symbols-outlined">settings</span>
      <span>{{'Settings'}}</span>
    </button>
    </div>
  </div>

  <ng-template #loading>
    <at-loading [blur]="true"></at-loading>
  </ng-template>
</div>
