<div class="dialog-container">
  <h2 mat-dialog-title>Add device</h2>
  <mat-dialog-content>
    <mat-stepper labelPosition="bottom" #stepper [disableRipple]="true">
      <mat-step >
          <ng-template matStepLabel>Select device</ng-template>
          <div class="spacer-2"></div>
              
          <div class="spacer-2"></div>
          <at-info infoText="Select device and its connection method from the list above"></at-info>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Widget visualization type</ng-template>
          <div class="spacer-2"></div>
          <p>You are now due.</p>
  
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Scope of data</ng-template>
        <div class="spacer-2"></div>
        <p>You are now due.</p>

    </mat-step>
      <mat-step>
        <ng-template matStepLabel>Summary</ng-template>
        <div class="spacer-2"></div>
      </mat-step>
    </mat-stepper>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="buttons-container mobile-buttons-container buttons-small-space">
      <button
        class="at-button normal iconic outline-green"
        mat-button
        mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
        <span>Cancel</span>
      </button>
      <button
        class="at-button normal iconic flat-green"
        mat-button
        [mat-dialog-close]="true"
        disabled
        cdkFocusInitial>
        <span class="material-symbols-outlined">navigate_next</span>
        <span>Next step</span>
      </button>
    </div>
  </mat-dialog-actions>
</div>
