<div class="utility-container">
    <div class="utility-content">
      <div class="upper-section">
        <img
          #imgElement
          ngSrc="../../assets/images/utility/access-denied.svg"
          alt="intro-image"
          width="540"
          height="332">
        <h3>Access denied</h3>
        <p>You do not have access to this page. Verify that you have logged in correctly and that you have the proper permissions. If you have further problems, contact the administrator </p>
      </div>
    </div>
  </div>