@import '../../../../assets/styles/variables.scss';

.device-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $white;
    box-shadow: $shadow-light;
    border-radius: 15px;
    height: 250px;

    .top-section {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 90%;

        .offline-msg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          text-align: center;

          span {
            font-size: 60px;
            color: $icon-light;
            margin-bottom: 10px
          };
        }

        .device-data {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
    }

    .bottom-section {
        text-align: center;

        p {
            margin: 0;
        }

        .device-title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .device-type {
            font-size: 13px;
        }
    }
}