<div class="device-container animate__animated animate__zoomIn">
  <div class="top-section">
    <div
      *ngIf="!metricData.device"
      class="offline-msg">
      <span class="material-symbols-outlined">wifi_off</span>
      <p>Brak komunikacji</p>
    </div>
    <div *ngIf="metricData.device">
      <p
        *ngFor="let key of getObjectData()"
        class="device-data"><span>{{key}}</span><span>{{metricData.device.data[key]}}</span></p>
    </div>
  </div>
  <div class="bottom-section">
    <div>
      <p [appTruncateText]="50" class="device-title">{{metricData.name}}</p>
      <p class="device-type">{{metricData.device.type.name}}</p>
    </div>
    <div>
      <span
        [matMenuTriggerFor]="menu"
        class="material-symbols-outlined">menu</span>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button (click)="openEditDialog()" mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit device</span>
  </button>
  <button (click)="openOrderingDialog()" mat-menu-item>
    <mat-icon>low_priority</mat-icon>
    <span>Change order of the device</span>
  </button>
  <button (click)="openDeleteDialog()" class="danger" mat-menu-item>
    <mat-icon>delete_forever</mat-icon>
    <span>Delete device</span>
  </button>
</mat-menu>
