<div class="device-container">
  <div class="top-section">
    <div
      *ngIf="!deviceData"
      class="offline-msg">
      <span class="material-symbols-outlined">wifi_off</span>
      <p>Brak komunikacji</p>
    </div>
    <div *ngIf="deviceData">
      <p
        *ngFor="let key of getObjectData()"
        class="device-data"><span>{{key}}</span><span>{{deviceData.deviceData[key]}}</span></p>
    </div>
  </div>
  <div class="bottom-section">
    <div>
      <span
        (click)="refreshDeviceData()"
        class="material-symbols-outlined">refresh</span>
    </div>
    <div>
      <p [appTruncateText]="50" class="device-title">{{deviceData.name}}</p>
      <p class="device-type">{{deviceData.deviceType.name}}</p>
    </div>
    <div>
      <span
        [matMenuTriggerFor]="menu"
        class="material-symbols-outlined">menu</span>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button (click)="openEditDialog()" mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edytuj urządzenie</span>
  </button>
  <button (click)="openOrderingDialog()" mat-menu-item>
    <mat-icon>low_priority</mat-icon>
    <span>Zmień kolejność urządzenia</span>
  </button>
  <button (click)="openDeleteDialog()" class="danger" mat-menu-item>
    <mat-icon>delete_forever</mat-icon>
    <span>Usuń urządzenie</span>
  </button>
</mat-menu>
