@import '../../../../assets/styles/variables.scss';

.settings-container {
    width: 100%;
    margin: 0 auto;

    .setting-expansion-panel {
        margin: 5px 0;
        border-radius: 15px;
        box-shadow: $shadow-light;

        .mat-expansion-panel-header-title {
            color: $text-light !important;
            font-size: 16px;

            .material-symbols-outlined {
                color: $icon-light;
                margin-right: 20px;
            }
        }
    }
}


.headquarters-title {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-family: $at-title-font;
    background: $main-text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

    span:nth-of-type(1) {
        font-size: 37px;
    }

    span:nth-of-type(2) {
        font-size: 29px;
        text-align: center;
    }
}

@media (min-width: 1025px) {
    .settings-container {
        width: 1080px;
    }
}