@import '../../../assets/styles/variables.scss';

.auth-right-content {
    background-color: $white
}

.auth-left-content {
    background-color: $white;
}

.auth-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h3 {
    font-size: 38px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  margin: 0 auto;
  
  form {
    margin-top: 20px;
    padding: 10px 20px 0 30px;
    max-height: 250px;
    overflow-y: auto;
  }

  .auth-botton-text span {
    color: $at-green;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media (min-width: 992px) {
    .auth-left-content {
        width: 55%;   
    }

    .auth-right-content {
        width: 45%;
        background-image: url('../../../assets/images/auth-side-background.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 1800px) {
    .auth-form-container {
        height: 650px;
    }
}

