@import './assets/styles/variables.scss';
@import "./assets/styles/imports.scss";

body {
    padding: 0;
    margin: 0;
    font-family: $at-font;
    color: $text-light
}
html, body { height: 100%; }
