@import './assets/styles/variables.scss';
@import "./assets/styles/imports.scss";

body {
    padding: 0;
    margin: 0;
    font-family: $at-font;
    color: var(--text)
}
html, body { height: 100%; overflow-x: hidden}


body {
    --background: #{$light-background};
    --box-color: #{$light-box};
    --command-center-background: #{$light-command-center-background};
    --danger: #{$light-danger};
    --danger-icon: #{$light-danger-icon};
    --shadow: #{$light-shadow};
    --shadow-active-green: #{$light-shadow-active-green};
    --shadow-green: #{$light-shadow-green};
    --text: #{$light-text};
    --button-text: #{$light-button-text};
    --icon: #{$light-icon};
    --disabled-gray: #{$light-disabled-gray};
    --blur: #{$light-blur};
    --green-gradient: #{$light-green-gradient};
    --main-text-gradient: #{$light-main-text-gradient};
}

body.theme-dark {
    --background: #{$dark-background};
    --box-color: #{$dark-box};
    --command-center-background: #{$dark-command-center-background};
    --danger: #{$dark-danger};
    --danger-icon: #{$dark-danger-icon};
    --shadow: #{$dark-shadow};
    --shadow-active-green: #{$dark-shadow-active-green};
    --shadow-green: #{$dark-shadow-green};
    --text: #{$dark-text};
    --button-text: #{$dark-button-text};
    --icon: #{$dark-icon};
    --disabled-gray: #{$dark-disabled-gray};
    --blur: #{$dark-blur};
    --green-gradient: #{$dark-green-gradient};
    --main-text-gradient: #{$dark-main-text-gradient};
}


::-webkit-scrollbar-track {
    background-color: var(--box-color)
}

::-webkit-scrollbar {
    border-radius: 15px;
    width: 8px;
    background-color: var(--box-color)
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgb(150, 150, 150);


    &:hover {
        transition: .3s;
        background-color: #5bcba9;
    }
}

@font-face {
    font-family: 'Nico-Moji';
    src:url('./assets/fonts/Nico-Moji.ttf.woff') format('woff'),
        url('./assets/fonts/Nico-Moji.ttf.svg#Nico-Moji') format('svg'),
        url('./assets/fonts/Nico-Moji.ttf.eot'),
        url('./assets/fonts/Nico-Moji.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}