@import './assets/styles/variables.scss';
@import "./assets/styles/imports.scss";

body {
    padding: 0;
    margin: 0;
    font-family: $at-font;
    color: $text-light
}
html, body { height: 100%; }

.mat-mdc-form-field-label,
.mat-mdc-checkbox-label,
.mat-mdc-radio-label,
.mat-mdc-select-value,
.mat-mdc-button,
.mat-mdc-tab-label,
.mat-mdc-menu-item {
    color: $text-light !important;

    .mat-icon {
      color: $text-light !important;
    }
}