<div class="dialog-container">
    <h2 mat-dialog-title>Change password</h2>
    <mat-dialog-content class="mat-typography">
        <div class="flex-row justify-center">
            <form [formGroup]="changePassForm">
                <div class="field-container mobile-dialog">
                    <mat-form-field>
                        <mat-label>Old password</mat-label>
                        <input 
                            matInput 
                            formControlName="oldPassword" 
                            [type]="hideOldPassword ? 'password' : 'text'" 
                            autocomplete="on" 
                            required>
                        <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        @if (oldPasswordControl.errors?.['required']) {
                            <mat-error><span class="material-symbols-outlined">error</span>Field is required</mat-error>
                        } 
                    </mat-form-field>
                </div>
                <div class="field-container mobile-dialog">
                    <mat-form-field>
                        <mat-label>New password</mat-label>
                        <input 
                          matInput 
                          formControlName="password" 
                          [type]="hidePassword ? 'password' : 'text'" 
                          autocomplete="on" 
                          required>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        @if (passwordControl.errors?.['required']) {
                          <mat-error><span class="material-symbols-outlined">error</span>Field is required</mat-error>
                        } @else if (passwordControl.errors?.['minlength']) {
                          <mat-error><span class="material-symbols-outlined">error</span>At least 8 characters are required</mat-error>
                        }
                      </mat-form-field>
                </div>
                <div class="field-container mobile-dialog">
                    <mat-form-field>
                      <mat-label>Confirm new password</mat-label>
                      <input 
                        matInput 
                        formControlName="confirmPassword" 
                        [type]="hideConfirmPassword ? 'password' : 'text'" 
                        autocomplete="on" 
                        required>
                      <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                      @if (changePassForm.errors?.['notSame']) {
                        <mat-error><span class="material-symbols-outlined">error</span>Passwords must be the same</mat-error>
                      }
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div class="buttons-container buttons-container-mobile buttons-small-space">
        <button
          class="at-button normal iconic outline-green"
          mat-button
          mat-dialog-close>
          <span class="material-symbols-outlined">close</span>
          <span>Cancel</span>
        </button>
        <button
          class="at-button normal iconic flat-green"
          mat-button
          [disabled]="changePassForm.invalid"
          (click)="changePassword()">
          <span class="material-symbols-outlined">done</span>
          <span>Confirm</span>
        </button>
      </div>
    </mat-dialog-actions>
  </div>
  