@import "../../../../assets/styles/variables.scss";

.info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-top: 1px solid var(--disabled-gray);
  
    .info-icon{
      padding-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $at-green;
      width: 10;
    }
  
    .info-text{
      width: 90%;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      padding: 24px;
      column-gap: 30px;

      .info-icon {
        padding-top: 0;
      }
    }
  }

  .without-border {
    border: none;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }