@import "../../../../assets/styles/variables.scss";

.info-container {
    display: flex;
    align-items: center;
    border-top: 1px solid $disabled-gray;
    column-gap: 50px;
    padding: 24px;
  
    .info-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      color: $at-green;
      width: 10;
    }
  
    .info-text{
      width: 90%;
    }
  }

  .without-border {
    border: none;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }