<div class="at-menu-container">
  <div class="menu-items-container">
    <div *ngIf="isAreaChangeMenu" class="menu-item-container">
      <div
        (click)="onMenuIteMSelected(0)"
        class="item-box">
        <span class="material-symbols-outlined">apps</span>
      </div>
      <p class="item-name-text">Wszystkie urządzenia</p>
    </div>
    <div
      *ngFor="let item of menuItems"
      class="menu-item-container">
      <div
        (click)="onMenuIteMSelected(item.id)"
        class="item-box">
        <span class="material-symbols-outlined">{{item.icon}}</span>
      </div>
      <p class="item-name-text">{{item.name}}</p>
    </div>
  </div>
</div>
