$aura-tower-primary-palette: (
    50 : #ebf9f5,
    100 : #ceefe5,
    200 : #ade5d4,
    300 : #8cdbc3,
    400 : #74d3b6,
    500 : #5bcba9,
    600 : #53c6a2,
    700 : #49be98,
    800 : #40b88f,
    900 : #2fac7e,
    A100 : #f1fff9,
    A200 : #beffe6,
    A400 : #8bffd3,
    A700 : #71ffc9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$aura-tower-accent-palette: (
    50 : #eaf4f7,
    100 : #cce3ea,
    200 : #aad1dd,
    300 : #87becf,
    400 : #6eb0c4,
    500 : #54a2ba,
    600 : #4d9ab3,
    700 : #4390ab,
    800 : #3a86a3,
    900 : #297594,
    A100 : #d6f3ff,
    A200 : #a3e3ff,
    A400 : #70d3ff,
    A700 : #57ccff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
  