.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-end;
}

.gap-10 {
    gap: 10px
}

.gap-20 {
    gap: 20px
}

.gap-30 {
    gap: 30px
}

.d-none {
    display: none !important
}

.d-block {
    display: block !important;
}

@for $i from 1 through 10 {
    .spacer-#{$i} {
        padding-bottom: $i * 10px !important;
    }
}
