@import "./variables.scss";

//Material element text color set
.mat-mdc-form-field-label,
.mat-mdc-checkbox-label,
.mat-mdc-radio-label,
.mat-mdc-select-value,
.mat-mdc-button,
.mat-mdc-tab-label,
.mat-mdc-menu-item {
  color: var(--text) !important;

  .mat-mdc-menu-item-text {
    display: flex;
    align-items: center;
  }

  .mat-icon,
  .material-symbols-outlined {
    color: var(--icon) !important;
  }
}

.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: var(--shadow) !important;
  border-radius: 15px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 15px !important;
}

.mat-mdc-menu-item-text {
  gap: 16px !important
}

.danger {
  color: var(--danger) !important;

  .mat-icon,
  .material-symbols-outlined {
    color: var(--danger-icon-light) !important;
  }
}

.at-snackbar-success {
  --mdc-snackbar-supporting-text-color: #fff;
  margin: 0 20px 20px 0 !important;
  --mdc-snackbar-container-color: #5bcba9;
  max-width: unset;
}

.at-snackbar-error {
  --mdc-snackbar-supporting-text-color: #fff;
  margin: 0 20px 20px 0 !important;
  --mdc-snackbar-container-color: #f44336de;
  max-width: unset;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
  color: var(--text);
  font-size: 14px;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon {
  color: var(--box-color);
  background-color: var(--disabled-gray);
}

.mat-step-icon {
  background-color: var(--disabled-gray);
}

.mat-step-icon-selected {
  background-color: $at-green !important;
  color: var(--box-color);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--box-color) !important;
}

.mobile {
  display: block;

  @media (min-width: 992px) {
    & {
      display: none !important;
    }
  }
}

.desktop {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}

