$at-green: #5bcba9;
$at-green-active: #66e4be;
$at-blue: #54a2ba;

$at-font: 'Noto Sans', sans-serif;
$at-title-font: 'Nico-Moji';

$light-background: #E7ECFF;
$light-box: #fff;
$light-command-center-background: rgba($color: #ffffff, $alpha: 0.4);;
$light-danger: #ff2a00;
$light-danger-icon: #ff2a0082;
$light-shadow: 0 2px 16px 2px #6683d040;
$light-shadow-active-green: 0 2px 16px 2px #66e4be;
$light-shadow-green: 0 2px 16px 2px #5bcba9;
$light-text: #8C8C8C;
$light-button-text: #fff;
$light-icon: #c0c0c0;
$light-disabled-gray: #CDCDCD;
$light-blur: rgba(255, 255, 255, 0.7);
$light-green-gradient: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgb(91 203 169 / 31%) 100%);
$light-main-text-gradient: -webkit-linear-gradient(90deg, rgba(91,203,169,1) 26%, rgba(84,162,186,1) 100%);

$dark-background: #0F0F11;
$dark-box: #2E3034;
$dark-command-center-background: rgb(255 255 255 / 5%);;
$dark-danger: #ff2a00;
$dark-danger-icon: #ff2a0082;
$dark-shadow: 0 2px 16px 2px #0F0F11;
$dark-shadow-active-green: 0 2px 16px 2px #66e4be;
$dark-shadow-green: 0 2px 16px 2px #5bcba9;
$dark-text: #c0c0c0;
$dark-button-text: #8C8C8C;
$dark-icon: #c0c0c0;
$dark-disabled-gray: #6c6c6c;
$dark-blur: #444444;
$dark-green-gradient: linear-gradient(180deg, rgb(15, 15, 17)  10%, rgb(91 203 169 / 31%) 100%);
$dark-main-text-gradient: -webkit-linear-gradient(90deg, rgba(91,203,169,1) 26%, rgba(84,162,186,1) 100%);