$at-green: #5bcba9;
$at-green-active: #66e4be;
$at-blue: #54a2ba;
$background-light: #E7ECFF;
$white: #fff;
$danger: #ff2a00cc;
$danger-icon-light: #ff2a0082;
$shadow-light: 0 2px 16px 2px #6683d040;
$shadow-active-green: 0 2px 16px 2px #66e4be;
$text-light: #8C8C8C;
$icon-light: #c0c0c0;

$at-font: 'Noto Sans', sans-serif;